@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f3;
}

/* Shared Style Starts here */

/* Vision-Card Section */
/* card 1 */
.vision1-card1 {
  background-color: rgba(84, 144, 245, 0.2);
}
.vision1-btn1 {
  background-color: #5490f5;
}
/* card 2 */
.vision1-card2 {
  background-color: rgba(198, 228, 214, 1);
}
.vision1-btn2 {
  background-color: #09a15c;
}
/* card 3 */
.vision1-card3 {
  background-color: rgba(247, 235, 207, 1);
}
.vision1-btn3 {
  background-color: #ffc239;
}
/* Shared Style Ends here */

/* Header Section Starts here */

/* Nav Section */
.nav-ul {
  background-color: #f5f5f5;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-ul li {
  list-style: none;
}

.nav-title {
  font-size: 32px;
  font-weight: bold;
  color: #0e0e0e;
}

.nav-btn {
  padding: 15px 30px;
  border-radius: 8px;
  color: #006a50;
  border: 2px solid #006a50;
  font-weight: 700;
}

/* Hero Section */
.hero-section {
  background-color: #c6e4d6;
  padding: 80px 60px;
  width: 1280px;
  height: 560px;
  border: none;
  border-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.hero-sub-title {
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}

.hero-title {
  font-size: 56px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 24px;
}

.hero-btn {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 700;
  background-color: #006a50;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
}

/* Header Section Ends here */

/* Main Section Starts here */

/* Pillar Section */

.pillar-section {
  width: 1280px;
  height: 324px;
  margin: 80px auto;
}

.pillar-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 32px;
}

.pillar-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.pillar-card {
  padding: 24px;
  background-color: #ffffff;
  width: 302px;
  height: 244px;
  border-radius: 16px;
}

.pillar-card-title {
  font-size: 20px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
  margin-top: 24px;
  margin-bottom: 12px;
}

.pillar-card-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}

/* Vision Section */

.vision-section {
  width: 1280px;
  height: 765px;
  margin: 80px auto;
}

.vision1-title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 24px;
}

.vision1-description {
  font-size: 16px;
  color: #0e0e0e;
  margin-bottom: 32px;
}

.vision1-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.vision1-card {
  width: 410px;
  height: 325px;
  border: none;
  border-radius: 16px;
  padding: 32px;
}

.vision1-card-title {
  color: #0e0e0e;
  font-size: 20px;
  font-weight: bold;
  margin-top: 24px;
}

.vision1-card-description {
  font-size: 16px;
  color: #0e0e0e;
  margin: 24px 0;
}

.vision1-btn {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}

.dryunus {
  width: 1280px;
  height: 256px;
  margin-top: 32px;
  background-color: #ffffff;
  border-radius: 16px;
  /* background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat; */
  padding: 24px;
}

.dryunus-description {
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 10px;
  padding-top: 20px;
}

.dryunus-title {
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 5px;
}
.dryunus-sub-title {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.6);
}
/* Main Section Ends here */

/* primary color #F5F5F5 */
